/* AboutMe.css */
.aboutme {
  text-align: center;
  padding-top: 30vh;
}

.nameText {
  font-size: 2em;
  font-weight: bold;
}

.bodyText {
  font-size: 1.2em;
}

.skillsTable {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.skillsTable th, .skillsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

