/* Contact.css */

.contact-container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/simple-cartoon-clouds-sky.png'); /* Path to your image */
  background-size: cover;
  background-position: center;
}

.contact-content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactInfo {
  color: navy;
  font-size: 1.5rem;
}
