.footer {
  background: linear-gradient(to right, white, aqua);
  color: white;
  text-align: center;
  padding: 2px 0; /* Adjust padding as needed */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}

.footer ul li img {
  height: 20px; /* Adjust image height */
  width: auto; /* Maintain aspect ratio */
}
