.homepageHeader {
    background: url('/simple-cartoon-clouds-sky.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  };

  body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
    font-family: 'Waiting for the Sunrise', cursive;
}
