.navbar {
  background: linear-gradient(to right, white, aqua); /* Adjust the colors as needed */
  height: 40px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px; /* Add padding to the navbar */
}

.navbar a {
  color: navy;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 10px; /* Adjust the margins for spacing */
  line-height: 3;
}

.navbar a:hover {
  color: white;
}
