.navbar {
  background: linear-gradient(to right, #088574, #06afbe); /* Adjust the colors as needed */

    height: 60px;
    align-items: center;
    margin-bottom:0;
  }
  
  .navbar a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    margin:0 100px;
    line-height: 3;
    align-items: center;
  }
