.Projects {
  /* Add background styling if needed */
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  max-width: 300px;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.project-description {
  margin-top: 10px;
}

.project-details {
  margin-top: 20px;
  text-align: left; /* Align text to the left for better readability */
}

.project-details h3 {
  margin-bottom: 10px;
}

.project-details ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

.project-details p {
  white-space: pre-wrap; /* Preserve newlines in key contributions */
}
