.resumeDiv {
    height:100vh;
}

.resumeDiv a:link{
    color:yellow;
}
.resumeTitle{
    color: aqua;
    font-style:italic;
}

.rutgersLogo {
    height:5vh;
}

.resumeDiv {
    justify-content: center;
    text-align: center;
    overflow-y:auto;
}

.msuLogo {
    height:5vh;
}
